@import "compass";
@import "_grid";
@import "_fonts";

$experimental-support-for-svg: true;
$footer-height: 0;

%clearfix {
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }

  zoom: 1;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  color: #555;
  font-family: 'roboto_slabthin';
  line-height: 1.667;
}

#main {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

#main:after {
  content: "";
  display: block;
}

#footer, #main:after {
  height: $footer-height;
}

#footer {
  background: #f9f9f9;
}

section {
  @extend %clearfix;
  padding: 40px 20px;

  &:last-child {
    border-bottom-color: transparent;
  }

  .content {
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
  }
}

.section--bottom-divider {
  border-bottom: 1px solid #e6e6e6;
}

.homework_week-1 {
  img {
    display: block;
    max-width: 70%;
  }
}

#intro {
  background: transparent url(http://placekitten.com/g/1000/800) no-repeat 50% 50%;
  @include background-size(cover);
  height: 400px;
  width: 100%;
  @include transition(all 190ms ease-out);

  @media (screen and max-width: $phone-break) {
    height: 200px;
  }

  .content {
    display: table;
    height: 100%;
  }

  h1 {
    color: #fff;
    display: table-cell;
    font-weight: 300;
    margin: 0;
    vertical-align: middle;
  }
}

a {
  background: transparent;
  color: #976EA7;
  text-decoration: none;

  &:hover {
    background: #976EA7;
    color: #fff;
  }
}

h1, h2, h3 {
  color: #272727;
  font-family: 'roboto_slabregular';
  font-weight: 400;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 1em;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

ol, ul {
  padding: 0;
  margin: 1em 0 0;

  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.no-list-type {
  @include no-bullets;
}

.screenshot {
  a {
    display: block;

    img {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
